<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}} | {{global.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <p>{{name}}!</p>
</body>

</html>